
/********************************************************
 *  @Author:        Will P. M.                          *
 *  @GitHub:        theWillPM                           *
 *  @DateCreated:   September 26, 2022                  *
 *  @LastEdited:    October 10, 2022                    *
 ********************************************************/

:root {
    --color-1: #cccccc;
    --color-2: #aaaaaa;
    --color-3: #888888;
    --color-4: #666666;
    --color-5: #444444;
    --color-6: #2d2884;
    --color-7: #0b0b0b;
    --color-blue: #1f6cbe;
    --color-red: #be1f1f;
    --color-pink: #be1fab;
    --color-green: #1fbe71;
    --color-gold: #e5c50d;
}

* {
    font-family:Tahoma, Geneva, Verdana, sans-serif;
    color: #FFF;
}

body {
    margin: 0;
    min-height: 100vh;
    background-image: linear-gradient(90deg, black, var(--color-5));
    position: relative;
}

header {
    height: clamp(40px, 6vh, 100px);   
}

.subheading {
    display: flex;
    width: clamp(300px, 25vw, 400px);
    height: 100px;
    background: none;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.subheading h1,
.subheading h2 {
    color: white;
    z-index: 2;

}

.subheading h3 {
    transform: translate(100px);
    z-index: 1;
    color: #fd8;
    font-style: italic;
}

h1, h2, h3 {
    margin: 0;
}

.title {

}
main {
    position: relative;
    height: clamp(500px, 88vh, 1000px);   
}

.divider {
    position: absolute;
    top: 60px;
    right: 0;
    border-radius: 2px 10px;
    background-image: linear-gradient(90deg, black, white);
    width: 75vw;
    height: 1px;
}

.main-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 0 clamp(5px, 10vw, 400px) 0 25px;
    right: 0;
    top: 100px;
}

.main-content p {
    color: #FFF;
    line-height: 1.5rem;
}

#canada-flag {
    height: 16px;
    width: 30px;
}
.photo-container {
    display: flex;
    position: absolute;
    bottom: 0;
}

figure {
    margin: 0;
    display: flex;
}

.photo {
    width: clamp(200px, 20vw, 400px);
    z-index: 0;
    transform: scaleX(-1);
    filter: drop-shadow(5px 5px 26px #FD8);
}

footer {
    display: flex;
    position: absolute;
    bottom: 0;
    min-width: 100vw;
    background-color: var(--color-7);
    height: clamp(40px, 6vh, 100px);
    align-items: center;
    justify-content: space-between;
}

.credits {
    display: flex;
    padding-left: 4px;
    font-size: 0.6rem;
    color: white;
}

.socials {
display: flex;
gap: 10px;
padding-right: 10px;
}

.social-logo {
    height: 30px;
    transition: 0.4s;
}

.social-logo:hover {
    box-shadow: 2px 2px 10px #fd8;    
}

#github-logo:hover {
    border-radius: 10%;
    transition: 0.4s;
}
