
/********************************************************
 *  @Author:        Will P. M.                          *
 *  @GitHub:        theWillPM                           *
 *  @DateCreated:   September 26, 2022                  *
 ********************************************************/

* {
    font-family:Tahoma, Geneva, Verdana, sans-serif;
    color: #FFF;
}

body {
    margin: 0;
    min-height: 100vh;
    background-image: linear-gradient(60deg, black 10%, #b2b47c);
    position: relative;
}

header {
    height: clamp(40px, 6vh, 100px);  
}

.subheading {
    display: flex;
    width: 25vw;
    height: 100px;
    background: none;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.subheading h1,
.subheading h2 {
    color: white;
    z-index: 2;
    font-size: clamp(1rem, 3vw, 2rem);

}

.subheading h3 {
    transform: translate(clamp(60px, 15vw, 140px));
    z-index: 1;
    color: #FFc688;
    font-size: clamp(1rem, 3vw, 1.6rem);
    font-style: italic;
}

h1, h2, h3 {
    margin: 0;
}

main {
    position: relative;
    height: clamp(calc(94vh - 40px), 94vh, calc(94vh - 100px));
}

nav {
    display: flex;
    position: absolute;
    right: 0;
    top: 30px;
    padding-right: 50px;
    gap: 10px;
}

.nav-button {
    display: flex;
    transition: 0.4s;
    height: 20px;
    border-radius: 6px;
    padding: 2px 12px;
}

.nav-button:hover {
    transition: 0.4s;
    cursor: pointer;
    color: #FFc688;
    text-shadow: 3px 3px 5px black;
}

.divider {
    position: absolute;
    top: 65px;
    right: 0;
    border-radius: 2px 10px;
    background-image: linear-gradient(90deg, black, #b2b47c);
    width: 100vw;
    height: 1px;
}

.main-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 0 clamp(5px, 10vw, 400px) 0 34px;
    right: 0;
    top: 100px;
}

.main-content p {
    color: #FFF;
    line-height: 1.5rem;
    z-index: 2;
}

#canada-flag {
    height: 16px;
    width: 30px;
}

.about {
    font-size: 1.2rem;
    margin: 0;
    font-style: italic;
    text-decoration: underline;
    align-self: flex-end;
    padding-right: 100px;
}

.hello {
    z-index: 3;
    position: absolute;
    bottom: clamp(30%, 20vw, 50%);
    left: clamp(100px, 10vw, 200px);
}

#hello {
    height: clamp(18px, 2vw, 36px);

}

.photo-container {
    position: absolute;
    bottom: 0;
}

figure {
    margin: 0;
}

.photo {
    position: absolute;
    bottom: 0;
    width: clamp(150px, 20vw, 400px);
    z-index: 0;
    transform: scaleX(-1);
    filter: drop-shadow(5px 5px 12px #FD8);
}

footer {
    display: flex;
    position: absolute;
    bottom: 0;
    min-width: 100vw;
    background-color: #121212;
    height: clamp(40px, 6vh, 100px);
    align-items: center;
    justify-content: space-between;
}

.credits {
    display: flex;
    padding-left: 4px;
    font-size: 0.6rem;
    color: white;
}

.socials {
display: flex;
gap: 10px;
padding-right: 10px;
}

.social-logo {
    height: 30px;
    transition: 0.4s;
}

.social-logo:hover {
    box-shadow: 2px 2px 10px #fd8;    
}

#github-logo:hover {
    border-radius: 10%;
    transition: 0.4s;
}

@media screen and (max-width: 500px) {
    nav {
        width: 100%;
        padding: 4px 10px;
        gap: 10px;
        justify-content: center;
    }
    
    header {
        background-color: #848253;
        display: flex;
        justify-content: center;
    }

    main {
        height: calc(94vh - 40px);
    }

    .subheading h1,
    .subheading h2 {
        color: white;
        z-index: 2;
        font-size: clamp(0.8rem, 3vw, 2rem);
        position: absolute;
        left: 4vw;
        top: 10px;
    }

    .subheading{
        display: flex;
        justify-content: center;
    }

    .subheading h3 {
    z-index: 1;
    color: #FFc688;
    font-size: clamp(0.7rem, 3vw, 1.6rem);
    font-style: italic;
    position: absolute;
    top: 10px;
    right: 30vw;
    }

    .hello {
        left: 120px;
        bottom: 50px;
    }
}

@media screen and (max-width: 500px) and (max-height: 500px), screen and (max-width: 420px) and (max-height: 580px) {

    .main-content p {
        display: none;
    }
}

@media (orientation: landscape) {
    .main-content {
        padding: 0 5px 0 40%;
    }

    .hello {
        bottom: clamp(200px, 40vh, 400px);
        left: 20px;
    }
}
