/********************************************************
 *  @Author:        Willian Pereira Munhoz              *
 *  @StudentId:     437831                              *
 *  @GitHub:        theWillPM                           *
 *  @Class:         TECH1101 - Web fundamentals         *
 *  @Instructor:    Joe Wilson                          *
 *  @Institution:   Bow Valley College                  *
 *  @DateCreated:   September 26, 2022                  *
 *  @LastEdited:    October 10, 2022                     *
 *  @Title:         Assignment_1_SoftwarePortfolio      *
 ********************************************************

Sorry the CSS isn't so organized.
I'm still learning how to properly organize it.
*/

:root {
    --color-1: #cccccc;
    --color-2: #aaaaaa;
    --color-3: #888888;
    --color-4: #666666;
    --color-5: #444444;
    --color-6: #222222;
    --color-7: #000000;
    --color-blue: #1f6cbe;
    --color-red: #be1f1f;
    --color-pink: #be1fab;
    --color-green: #1fbe71;
    --color-gold: #e5c50d;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color-6);
    transition: 0.3s ease-out;
}

ul {
    margin-top: 1px;
    font-weight: 700;
    font-size: 0.875em;
    padding-left: 20px;
}

li {
    font-size: 0.857143em;
    font-weight: 300;
}

#hoverSurprise {
    line-height: 0.6em;
    background-color: var(--color-7);
    font-size: .5em;
    font-weight: 300;
}

#hoverSurprise:hover {
    background-color: var(--color-1);
    text-shadow: 2px 2px 2px var(--color-5);
    font-size: 2em;
    font-weight: 600;
}

.mainContent p,
.mainContent span {
    text-align: left;
    font-size: 0.875em;
}


h1 {
    color: var(--color-1);
    margin: 5px 0px -20px;
    line-height: 1em;
}

.subheading,
h2 {
    font-size: 1.2em;
    font-style: italic;
    color: var(--color-1);
    margin-bottom: -6px
}

h3 {
    font-size: 1em;
    color: var(--color-1);
    text-align: center;
    margin: 0px auto;
    line-height: 40px;
}


.header {
    height: 5vh;
    min-height: 40px;
    border-bottom: 2px solid var(--color-7);

    text-align: center;
    margin: 0px;
    padding: 0px 0px 15px 0px;
    background-color: var(--color-6);
    font-size: 0.75em;
}

.header div {
    margin: auto;
    align-self: center;
    width: 300px;
}

.header:hover h2 {
    text-align: center;
    font-size: 1.3em;
    background: -webkit-linear-gradient(45deg, red, orange, yellow, green, rgb(0, 204, 255), rgb(127, 51, 181), violet, red);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.body,
.main {
    display: flex;
    background-image: linear-gradient(var(--color-1), var(--color-4));
    margin: 0px;
    flex-direction: column;
}

.body {

    min-height: 100vh;
}

.main {
    display: flex;
    align-items: justify;

    flex: 1;
}


#nav {
    transform: translateY(-2px);
    margin: 0px;
    gap: 3px;
    display: flex;
    align-self: center;
    flex: 1;
    flex-direction: row;
    width: 93vw;
    min-height: 60px;
    height: 5vh;
}

.navbar {
    display: flex;
    flex: 1;
    border: 2px solid var(--color-7);
    border-radius: 5px;
    border-top: 2px solid var(--color-6);
    text-align: center;
    color: var(--color-1);
    height: 40px;
    min-width: 40px;
    background-color: var(--color-6);
    transition: 0.45s ease-in;
}

.navbar h3 {
    font-size: 0.7em;
    font-weight: 600;
}

.navbar:hover {
    height: 55px;
    width: 42px;
    margin-bottom: -30px;
    background-image: linear-gradient(var(--color-6), var(--color-4));
    box-shadow: 3px 3px 2px var(--color-gold);
}

.navbar:hover h3 {
    font-size: 0.8em;
}

.navText {
    color: var(--color-1);
    font-size: 0.7em;
    line-height: 0.8em;
}

#tab1:hover {
    box-shadow: 3px 3px 3px var(--color-blue);
    background-image: linear-gradient(165deg, var(--color-6), var(--color-6), var(--color-blue));
}

#tab2:hover {
    box-shadow: 3px 3px 3px var(--color-red);
    background-image: linear-gradient(165deg, var(--color-6), var(--color-6), var(--color-red));
}

#tab3:hover {
    box-shadow: 3px 3px 3px var(--color-green);
    background-image: linear-gradient(165deg, var(--color-6), var(--color-6), var(--color-green));
}

#tab4:hover {
    box-shadow: 3px 3px 3px var(--color-pink);
    background-image: linear-gradient(165deg, var(--color-6), var(--color-6), var(--color-pink));
}

#tab5:hover {
    box-shadow: 3px 3px 3px var(--color-gold);
    background-image: linear-gradient(165deg, var(--color-6), var(--color-6), var(--color-gold));
}

#tab6 {
    background-image: linear-gradient(var(--color-6), var(--color-5));
}

#tab6:hover {
    box-shadow: 3px 3px 3px var(--color-7);
}

#floating-nav {
    width: 30px;
    height: 30px;
    background: var(--color-1);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-7);
    border-radius: 50%;
    color: var(--color-1);
    font-size: 0.65em;
    font-weight: 700;
    text-align: center;
    box-shadow: 2px 2px 5px var(--color-6);
    position: fixed;
    right: 15px;
    bottom: 15px;
    transition: background-color 0.2s;
    color: var(--color-7);
}

#floating-nav:hover {
    box-shadow: 2px 2px 5px 2px var(--color-blue);
}

#floating-nav:active {
    color: var(--color-7);
    background-color: var(--color-green);
}

.mainContent {
    display: flex;
    flex-direction: column;
    background-color: var(--color-1);
    margin: 0px 5px 5px 5px;
    padding: 0px 5px 10px 5px;
    border-radius: 12px;
    border: solid black 2px;
    line-height: 2em;
}

#skillset {
    margin: 0px 5px 5px 5px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content:space-around;
}

#about {
    text-align: left;
}

#aboutMe {
    color: var(--color-6);
    font-size: 1.125em;
}

#profilePic {
    filter: grayscale(50%);
    width: 35vw;
    height: auto;
    border-radius: 50%;
    border: 1px solid black;
    min-width: 80px;
    max-width: 150px;
}

#profilePic:hover {
    box-shadow: 3px 3px var(--color-7);
    width: 36vw;
    transform: translatex(-5px);
    min-width: 85px;
    max-width: 155px;
}

#profileWrapper:hover #caption {
    font-size: 0.75em;
}

#caption {
    text-align: center;
    line-height: 1em;
    margin-top: -5px;
    font-size: 0.7em;
    font-style: italic;
}

.footer {
    display: flex;
    bottom: 0px;
    width: 100%;
}

.footerDiv {
    display: flex;
    padding-bottom: 2px;
    height: 7vh;
    min-height: 66px;
    width: 100%;
    border-top: 2px solid var(--color-7);
    background-image: linear-gradient(var(--color-5), var(--color-6));
}

#Git{
    display: inline;
}

#chiaraWalk {
    position: relative;
    top: 0px;
    left: -700px;
    width: 64px;
    height: 64px;
    transition: 1s ease-in-out;
}


.footer:hover #chiaraWalk {
    position: relative;
    top: 0px;
    left: 0px;
    height: 64px;
    width: 64px;
}

.footerImg {
    color: var(--color-1);
    max-height: 6vh;
    padding: 0px;
}

#santa {
    width: 60px;
    height: 60px;
    margin: auto 0px;
}

#githubImg {
    alt: "My GitHub Profile!";
}

#githubImg:hover {
    height: 51px;
}

#gitText {
    margin: 0px 0px 2px 10px;
    font-size: 0.7em;
    display: block;
    color: var(--color-1);
}